body {
  background: white;
  min-width: 1200px; /* Définit une largeur minimale pour le corps de la page */
  overflow-x: auto; /* Active la barre de défilement horizontale si le contenu dépasse la largeur */
}
.logo2 {
  width: 10px;
    height: 10px;
    margin-left: 40 px;
}


.campus{
  background-image: url("campus.png");
  background-size: cover;
  background-position: center;
  height: 500px; /* une hauteur suffisante */

}


.image-campus {
  position: relative;
  overflow: hidden; /* Assurez-vous d'appliquer un débordement caché pour masquer les images dépassant du conteneur */
}
  

/* Créez une animation pour faire défiler les images */
@keyframes imageScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%); /* Ajustez cette valeur en fonction de la hauteur des images et du défilement souhaité */
  }
}

/* Appliquez l'animation aux images */
.image-campus img {
  width: 100%;
  height: auto;
  display: block;
  animation: imageScroll 5s linear infinite; /* Ajustez la durée (5s dans cet exemple) selon vos besoins */
}

.overlay {
  position: absolute;
  top: 36.7%;
  bottom:50%;
  left: 24.5px;
  transform: translate(-1%, -10%);
  width: 99.2%;
  height: 50.7%;
  background-color: black;
  opacity: 0.5; 
}

  
  


.BIENVENUE {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Helvetica, sans-serif;
  font-variant: small-caps;
  transform: translate(-50%, -50%);
  color:#3f6cb6;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 0 #000, -2px -10px 0 #000;

  
 
}



.bandeau {
  background-color: white; /* Couleur de fond du bandeau */
  display: flex; /* Utilise un affichage flexbox pour aligner les éléments horizontalement */
  padding: 10px;
  align-items: center; /* Centre les éléments verticalement */
  perspective: 500px;
  transform-style: preserve-3d;
  
  
}


.bandeau::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
  transform: translateZ(-10px);
}


button{


all:unset;
cursor:pointer;
overflow:hidden;
position: relative;
background-color: #3f6cb6;
border-radius:50%;
padding:15px 40px;
transition: box-shadow .2s;
color: white; 
font-size:10px;
display: inline-block; /* Ajout de la propriété pour aligner les boutons côte à côte */

	}
	

button:hover{
box-shadow:0 0 40px #6753ea;
}
     
	 
button::before {
	
content: '';
position:absolute;
background:linear-gradient(90deg,transparent,rgba(255, 255, 255, 0.8),transparent);
top: 0; 
left: 0; 
right: 0; 
bottom: 0;
transition: transform 1s ease-in-out;
transform:translateX(-100%);
	}


  button:hover::before {
	transform: translateX(100%);
}



h1 {
margin: 5rem auto;
font-family:"...";
display: flex;
justify-content: center;
background-color: #001949;
filter: contrast(30);
padding: 1rem;
overflow: hidden;
}

h1 {
  font-size: 4rem;
  hyphens: auto;
  color: #fff;
  animation: text-transform 4s ease-in-out forwards; 
  letter-spacing: -2rem;
}

@keyframes text-transform{
  0% {
  
    letter-spacing: -2rem;
    filter: blur(10px);
  }
 
  50% {
    filter: blur(5px);
  }
	
  100% {
    letter-spacing: 1rem;
    filter: blur(2px);
  }
}	

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #1b3c49;
  border-radius: 5px;
  box-shadow: 0 0 5px #000080;
 
}

td {
  word-wrap: break-word;

  box-shadow: inset 0px 0px 5px rgba(72, 212, 17, 0.1);
  }


table tr:nth-child(odd){
  background-color:#FFFAF4;
}
table tr:nth-child(even){
  background-color:#F8F6F4;
}
thead{
  border-collapse: collapse;
  border: 1.5px solid purple;
}

thead th {
  word-wrap: break-word;
}

tr { border: none; }
th, td {
  padding: 10px;
  border-right: solid 0.5px #1b3c49; 
  border-left: solid 0.5px #1b3c49;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}



.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;

}



select.paramview.form-group.dropdown{
  position: absolute; /* postulat de départ */
	Border: #7a84a0 1px solid;
  	border-radius: 10px;
	font-size: 1.2em;
        padding: 6px 12px;
        color:#7a84a0;
        background-color:#d3c7d3;
        display: inline-block; /* Ajout de la propriété pour aligner les boutons côte à côte */
        
}
        


/*Alignement des boutons */
.paramview.form-group.dropdown{

  display: inline-block;
  justify-content:left;
  align-items: left;
  text-align: left;
  gap: 50px;
}
