html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  background: white;
  display: table;
  width: 100%;
}


div.items div {
    display: none;
}
div.items div:target {
    display: block;
}

footer {
   display: table-row;
   position: fixed;
   bottom: 0;  /* on le colle en bas */
   width: 100%;
   height: 25px;   /* Hauteur du pied de page */
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
table tr:nth-child(odd){
  background-color: #f2f2f2;
}
table tr:nth-child(even){
  background-color: #fafafa;
}
thead{
  border-collapse: collapse;
  border: 3px solid purple;
}
tr {
    border: none;
}
th, td {
  padding: 10px;
  border-right: solid 1px #f00; 
  border-left: solid 1px #f00;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
