body {
  background: #4682;
}
.logo {
  background-image: url("logo.png");
  background-size: contain; /* Ajuste la taille de l'image pour tenir dans la div */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  width: 1000px; /* Largeur du logo */
  height: 100px; /* Hauteur du logo */
  margin-right: 100px; /* Marge à droite pour séparer le logo du texte */
  float: right; /* Place le logo à droite */

}

.bandeau {
  background-color: #9AC5F4; /* Couleur de fond du bandeau */
  padding: 10px; /* Marge intérieure du bandeau */
  display: flex; /* Utilise un affichage flexbox pour aligner les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
}


h1 {
  position: relative;
  left: 850px; /* Déplace le titre h1 de 50 pixels vers la droite */
  color:#000080;
  font-family: fantasy;
}


table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #1b3c49;
  border-radius: 5px;
  box-shadow: 0 0 5px #000080;
 
}

td {
  word-wrap: break-word;

  box-shadow: inset 0px 0px 5px rgba(72, 212, 17, 0.1);
  }


table tr:nth-child(odd){
  background-color:#FFFAF4;
}
table tr:nth-child(even){
  background-color:#F8F6F4;
}
thead{
  border-collapse: collapse;
  border: 1.5px solid purple;
}

thead th {
  word-wrap: break-word;
}

tr { border: none; }
th, td {
  padding: 10px;
  border-right: solid 0.5px #1b3c49; 
  border-left: solid 0.5px #1b3c49;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}



.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

select{
	Border: #53d3aa 1px solid;
  	border-radius: 10px;
	font-size: 1.2em;
        padding: 6px 12px;
}

/*Alignement des boutons */
.paramview .form-group.dropdown {
  display: inline-block;
  margin-right: 10px;
}







 



